@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.stars {
    display: flex;
    padding-bottom: 10px;
}

.stars fieldset legend {
    padding-bottom: 5px;
}

.stars fieldset {
    color: #fff;
    width: 100%;
    margin-bottom: 0;
    font-size: 21px;
    line-height: inherit;
    border-bottom: none;
}

.questionnaire-submit{
    width: 140px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    border: 0;
}


/****** Style Star Rating Widget end *****/

/****** Style Open question *****/


.open-question{
    padding-bottom: 10px;
}
.open-fieldset{

    border: none;
}

.open-textfield textarea {
    width:100%
}

.open-fieldset legend {
    color: #fff;
    width: 100%;
    margin-bottom: 0;
    font-size: 21px;
    line-height: inherit;
    border-bottom: none;

}

/****** Style Open question end *****/